################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/CursoCsharp/.vs
/CursoN3web/.vs
/WebApplication/.vs/WebApplication
